h1{
    color: #11a683;
    background:#ebfffa;
    font-family: 'Sriracha', cursive;
    font-size: 20px;
    border:25px;
    align-items: center;
    margin: auto;
    position: relative;
    padding: 8px 48px;
    
   
}
.total{
    color: brown; 
}
 .Limit {
    color: coral;
    font-family: 'Sriracha', cursive;
}

h3{
    color: brown;
    font-size: medium;
    font-family: 'Sriracha', cursive;
}
.options{
    color: #11a683;
    background-color: white;
}
.options{
    font-size: 25px;
    font-weight: bold;
}
